:root {
	--font-style: "Poppins", sans-serif; /** use weights: 200, 400, 600 **/

	--accent-color-1: hsl(0, 78%, 62%);
	--accent-color-2: hsl(180, 62%, 55%);
	--accent-color-3: hsl(34, 97%, 64%);
	--accent-color-4: hsl(212, 86%, 64%);

	--bg-color: hsl(0, 0%, 98%);
	--bg-color-card: hsl(0, 0%, 100%);

	--header-color: hsl(234, 12%, 34%);
	--text-color: hsl(229, 6%, 66%);

	--shadow-color: 0deg 0% 72%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--bg-color);
	font-family: var(--font-style);
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--text-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-shadow {
	box-shadow: 0.3px 0.5px 0.6px
			hsl(var(--shadow-color) / 0.24),
		0.7px 1.4px 1.6px -0.4px hsl(var(--shadow-color) /
					0.23),
		1.2px 2.4px 2.7px -0.7px hsl(var(--shadow-color) /
					0.22),
		1.9px 3.8px 4.3px -1.1px hsl(var(--shadow-color) /
					0.21),
		2.9px 5.8px 6.6px -1.4px hsl(var(--shadow-color) /
					0.2),
		4.3px 8.7px 9.8px -1.8px hsl(var(--shadow-color) /
					0.19),
		6.4px 12.7px 14.4px -2.2px hsl(var(--shadow-color) /
					0.17),
		9.1px 18.3px 20.7px -2.5px hsl(var(--shadow-color) /
					0.16),
		12.8px 25.6px 29px -2.9px hsl(var(--shadow-color) /
					0.15),
		17.5px 35px 39.6px -3.2px hsl(var(--shadow-color) /
					0.14);
}

.container {
	width: 311px;
	margin: 85px 32px;
}

.center-text {
	text-align: center;
}

.introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.subtitle {
	font-size: 2.4rem;
	font-weight: 200;
}

.title {
	font-size: 2.4rem;
	font-weight: 600;
	color: var(--header-color);
	margin-bottom: 3rem;
}

.grid {
	margin-top: 8rem;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	gap: 3rem;
}

.card {
	background-color: var(--bg-color-card);
	border-radius: 0.8rem;
}

.card__border--accent-1 {
	border-top: 4px solid var(--accent-color-2);
}

.card__border--accent-2 {
	border-top: 4px solid var(--accent-color-1);
}

.card__border--accent-3 {
	border-top: 4px solid var(--accent-color-3);
}

.card__border--accent-4 {
	border-top: 4px solid var(--accent-color-4);
}

.card__title {
	margin: 0px 2.9rem;
	margin-top: 3rem;
	font-size: 2rem;
	font-weight: 600;
	color: var(--header-color);
}

.card__text {
	margin: 0px 2.9rem;
	margin-top: 1rem;
	font-size: 1.3rem;
	line-height: 2.3rem;
}

.card__icon {
	margin: 3rem 2.9rem;
	height: 5.7rem;
	width: 5.7rem;
	float: right;
}

@media screen and (min-width: 65rem) {
	.container {
		width: 1110px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.introduction {
		max-width: 540px;
	}

	.title {
		font-size: 3.6rem;
	}

	.subtitle {
		font-size: 3.4rem;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 2em;
	}

	.grid-left {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
	}

	.grid-top {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}

	.grid-bottom {
		grid-column: 2 / 3;
		grid-row: 3 / 5;
	}

	.grid-right {
		grid-column: 3 / 3;
		grid-row: 2 / 4;
	}
}
